MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1:3306
MYSQL_DATABASE=go_xample_development
MYSQL_CHARSET=utf8

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=127.0.0.1:5672
RABBITMQ_VHOST=/go_xample
RABBITMQ_EXCHANGE_NAME=exchangeme
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_ROUTING_KEY=routingkey
